RewriteEngine On

# Exclude existing files and directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# If request starts with /controler/, route to controler/index.php
RewriteCond %{REQUEST_URI} ^/controler/
RewriteRule ^controler/.*$ controler/index.php [L]

# Otherwise, redirect all other requests to index.html
RewriteRule ^ index.html [L]
