body {
    background-color: #f3f4f6;
  }

  /* OTP Form Styling */
  .bg-gradient-to-br {
    background: linear-gradient(to bottom right, #3b82f6, #9333ea);
  }

  input {
    transition: all 0.3s ease;
  }

  input:focus {
    border-color: #3b82f6;
  }

  button:disabled {
    opacity: 0.6;
  }

  button {
    background-color: #3b82f6;
    &:hover{
        background-color: #2563eb;
    }
  }

  button span {
    transition: opacity 0.3s ease;
  }

  button span:first-child {
    display: block;
    opacity: 1;
  }

  button[disabled] span:first-child {
    opacity: 0;
  }

  button span:last-child {
    display: block;
    opacity: 0;
  }

  button[disabled] span:last-child {
    opacity: 1;
  }
