/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';

.not-found-container {
    text-align: center;
    padding: 50px;
  }

  .not-found-container h1 {
    font-size: 2.5rem;
    color: #d9534f;
  }

  .not-found-container p {
    font-size: 1.2rem;
  }

  .not-found-container a {
    margin-top: 20px;
    text-decoration: none;
    color: white;
    background-color: #0275d8;
    padding: 10px 20px;
    border-radius: 5px;
  }

  .not-found-container a:hover {
    background-color: #025aa5;
  }
