@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');

.rainbow-text-google span {
  display: inline-block;
  font-weight: bold;
  animation: colorCycle 3s linear infinite;
  animation-delay: calc(var(--i) * 0.3s);
}

@keyframes colorCycle {
  0%   { color: #4285F4; }  /* blue */
  25%  { color: #DB4437; }  /* red */
  50%  { color: #F4B400; }  /* yellow */
  75%  { color: #0F9D58; }  /* green */
  100% { color: #4285F4; }
}

.color-animate {
  animation: iconColorCycle 4s linear infinite;
}

@keyframes iconColorCycle {
  0%   { fill: #4285F4; }  /* blue */
  25%  { fill: #DB4437; }  /* red */
  50%  { fill: #F4B400; }  /* yellow */
  75%  { fill: #0F9D58; }  /* green */
  100% { fill: #4285F4; }
}

.tagesschrift-regular {
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}
