<div class="p-6 bg-gray-50 min-h-screen">
<p-table [value]="ordersList" [paginator]="true" [rows]="5" [responsiveLayout]="'scroll'"
            class="rounded-xl shadow-md border border-gray-200 bg-white" styleClass="modern-table">
            <ng-template pTemplate="header">
                <tr
                    class="bg-gradient-to-r from-indigo-100 to-white text-gray-700 font-semibold text-sm uppercase tracking-wider">
                    <th><i class="pi pi-hashtag mr-1 text-indigo-400"></i>ID</th>
                    <th><i class="pi pi-tag mr-1 text-indigo-400"></i>Style</th>
                    <th><i class="pi pi-align-left mr-1 text-indigo-400"></i>Description</th>
                    <th><i class="pi pi-user mr-1 text-indigo-400"></i>Age</th>
                    <th><i class="pi pi-shapes mr-1 text-indigo-400"></i>Pattern</th>
                    <th><i class="pi pi-calendar mr-1 text-indigo-400"></i>Order</th>
                    <th><i class="pi pi-send mr-1 text-indigo-400"></i>Shipment</th>
                    <th><i class="pi pi-user-plus mr-1 text-indigo-400"></i>Buyer</th>
                    <th><i class="pi pi-star mr-1 text-indigo-400"></i>Brand</th>
                    <th><i class="pi pi-cloud mr-1 text-indigo-400"></i>Season</th>
                    <th><i class="pi pi-comment mr-1 text-indigo-400"></i>Remark</th>
                    <th class="text-center"><i class="pi pi-cog text-indigo-400"></i></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-order>
                <tr class="hover:bg-indigo-50 transition duration-150">
                    <td>{{ order.id }}</td>
                    <td>{{ order.style_no }}</td>
                    <td>{{ order.description }}</td>
                    <td>{{ order.age_group }}</td>
                    <td>{{ order.pattern }}</td>
                    <td>{{ order.order_date }}</td>
                    <td>{{ order.shipment_date }}</td>
                    <td>{{ order.buyer }}</td>
                    <td>{{ order.brand }}</td>
                    <td>{{ order.season }}</td>
                    <td>{{ order.remark }}</td>
                    <td class="text-center">
                        <div class="flex justify-center gap-2">
                            <button pButton icon="pi pi-pencil"
                                class="p-button-sm p-button-text p-button-rounded p-button-info" pTooltip="Edit"
                                tooltipPosition="top" (click)="onEdit(order)"></button>
                            <button pButton icon="pi pi-trash"
                                class="p-button-sm p-button-text p-button-rounded p-button-danger" pTooltip="Delete"
                                tooltipPosition="top" (click)="onDelete(order)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>

</div>
